# Tests Database
test_lanmsg.db-shm
test_lanmsg.db-wal

#db and certs
lanmsg.db
server.crt
server.key

# misc
__pycache__
.DS_Store

# todo remove once CA + cert gen is added to tls.py
scripts

#ignore contents of dirs
server/certs/*
server/CA/*
server/provision_out/*